:root {
  --main-background-color: #C0A672; 
  --header-text-color: #F4B266; 
  --button-background-color: #AFD0BF; 
  --button-text-color: #E2EFDE; 
  --label-text-color: var(--header-text-color); 
  --list-border-color: #808F87; 
  --search-bar-background-color: var(--button-text-color); 
  --batch-size-dropdown-background-color: var(--search-bar-background-color); 
  --input-outline-color: #cde7da; 
  --hovered-background-color: #bdd8ca; 
  --active-background-color: #A4C1B2; 
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-background-color); /* Webpage background as foundation */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Set minimum height to cover the viewport */
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: var(--list-border-color); /* Match with button text color for consistency */
  border: 10px solid var(--button-background-color);
  border-radius: 10px; /* Add border-radius for a softer appearance */
  max-width: 600px; /* Set maximum width for the app */
  width: 100%; /* Make the app responsive */
  margin-top: 20px; /* Adjust the top margin */
}

h1 {
  color: var(--header-text-color);
}

form {
  margin: 20px 0;
}

input {
  padding: 10px;
  font-size: 16px;
  background-color: var(--search-bar-background-color); 
  transition: background-color 0.3s ease;
  &:focus {
    outline: 1px solid var(--input-outline-color); 
  }
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--button-background-color); 
  color: var(--button-text-color); 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    background-color: var(--hovered-background-color); 
    color: var(--button-text-color); 
  }
  &:active {
    background-color: var(--active-background-color); 
    color: var(--button-text-color); 
    outline: 1px solid var(--input-outline-color); 
  }
}

label {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  color: var(--label-text-color); 
}

select {
  padding: 10px;
  font-size: 16px;
  background-color: var(--batch-size-dropdown-background-color); 
  transition: background-color 0.3s ease;
  &:focus {
    outline: 1px solid var(--input-outline-color); 
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid var(--list-border-color); 
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  background-color: #9EA9A3; /* Custom background color for list items */
}

span {
  margin-right: 5px;
}

p {
  color: var(--label-text-color);
}

@media (max-width: 600px) {
  input,
  button,
  select {
    width: 100%;
  }
}